<div class="container-fluid body">
    <div class="row p-b-30">
        <div class="col-md-3">
          <div class="title">Get Trainings Details</div>
        </div>
        <mat-tab-group class="col-md-9">
            <!-- <div class="col-md-9"> -->
                <mat-tab label="DOT NET"> Content 1 </mat-tab>
                <mat-tab label="PHP"> Content 2 </mat-tab>
                <mat-tab label="ANGULAR"> Content 3 </mat-tab>
                <mat-tab label="JAVA"> Content 4 </mat-tab>
                <mat-tab label="ANDROID"> Content 5 </mat-tab>
                <mat-tab label="IONIC"> Content 6 </mat-tab>   
            <!-- </div> -->
        </mat-tab-group>      
      </div>
 


  <div class="select_trng row">
      <div class="col-md-3" style="font-size: 20px">Select Training</div>
      <input class="form-control col-md-9" placeholder="Select Training To Get Material">
  </div>

  <div class="row p-t-30 p-b-30">
    <div class="col-md-4">
      <div class="nav_content">Training Material</div>
        <div class="m-t-30">
            <ul class="nav">
                <li class="tab_left active"><a href="#theory-v" data-toggle="tab">Theory Assignmets</a></li>
                <li class="tab_left"><a href="#prac-v" data-toggle="tab">Practicle Assignments</a></li>
                <li class="tab_left"><a href="#ref-v" data-toggle="tab">Reference Contents</a></li>
                <li class="tab_left"><a href="#place-v" data-toggle="tab">Placements Available </a></li>
            </ul>
        </div>
        <div class="note"><label style="color: brown">Note:</label>
           If user is not registered he will not able to see the contents of this page
        </div>
    </div>
    <div class="col-md-8">
      <div class="nav_content">Content management systems (CMS) [Training Title]</div>
      <div class="m-t-30">
          <div class="tab-content">
              <div class="tab-pane active" id="theory-v">
                <div class="material_title">Theory Assignments [PDF will display and user can download]</div>
                  <p><label style="font-weight:500">Dummy Content: </label> An editor button and system plugin (Joomla extension) that sets random dummy copy in
                      articles or in other content item that have editors like custom HTML modules, category descriptions, or
                      third party content.</p>
              </div>
              <div class="tab-pane" id="prac-v">
                <div class="material_title">Practicle Assignments [PDF will display and user can download]</div>
                  <p><label style="font-weight:500">Dummy Content: </label> An editor button and system plugin (Joomla extension) that sets random dummy copy in
                      articles or in other content item that have editors like custom HTML modules, category descriptions, or
                      third party content.</p>
              </div>
              <div class="tab-pane" id="ref-v">
                <div class="material_title">Reference Contents [PDF will display and user can download]</div>
                  <p><label style="font-weight:500">Dummy Content: </label> An editor button and system plugin (Joomla extension) that sets random dummy copy in
                      articles or in other content item that have editors like custom HTML modules, category descriptions, or
                      third party content.</p>
              </div>
              <div class="tab-pane" id="place-v">
                <div class="material_title">Placements Available [PDF will display and user can download]</div>
                  <p><label style="font-weight:500">Dummy Content: </label> An editor button and system plugin (Joomla extension) that sets random dummy copy in
                      articles or in other content item that have editors like custom HTML modules, category descriptions, or
                      third party content.</p>
              </div>
            </div>
      </div>
    </div>  
  </div>

</div>  