<div class="container-fluid body">
    <div class="row p-b-30">
      <div class="col-md-3">
        <div class="title">Get Trainings Details</div>
      </div>
      <mat-tab-group class="col-md-9">
              <mat-tab label="DOT NET"> Content 1 </mat-tab>
              <mat-tab label="PHP"> Content 2 </mat-tab>
              <mat-tab label="ANGULAR"> Content 3 </mat-tab>
              <mat-tab label="JAVA"> Content 4 </mat-tab>
              <mat-tab label="ANDROID"> Content 5 </mat-tab>
              <mat-tab label="IONIC"> Content 6 </mat-tab>   
      </mat-tab-group>      
    </div>
    
    <div class="row">
      <div class="col-md-4">
        <div class="nav_content">Downloads</div>
          <div class="m-t-30">
              <ul class="nav">
                  <li class="tab_left active"><a href="#mobile-v" data-toggle="tab">Mobile App</a></li>
                  <li class="tab_left"><a href="#training-v" data-toggle="tab">Training Contents</a></li>
                  <li class="tab_left"><a href="#schedule-v" data-toggle="tab">Schedules</a></li>
                  <li class="tab_left"><a href="#assg-v" data-toggle="tab">Training Assignments</a></li>
              </ul>
          </div>
      </div>
      <div class="col-md-8">
        <div class="nav_content">Get Mobile App</div>
        <div class="m-t-30">
            <div class="material_title">Link for Mobile App</div>
              <div class="link">
                <a href="https://www.assimilatetechnologies.com/applink">https://www.assimilatetechnologies.com/applink</a>
              </div>
        </div>
        <div class="button_class">
          <button type="submit" class="btn button">Download</button>
          <!-- onclick="location.href='http://play.google.com/store/apps'" -->
          <button type="button" class="btn button" data-toggle="modal" data-target="#loginModal">Go to Login</button>
        </div>  
      </div>
    </div>
  
  </div>

  <div class="container">
    <div class="modal fade" id="loginModal" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
              <div class="modal_title">Login</div>
              <hr>
            <div class="modal-body">
                <div class="row m-b-20">
                    <h6 class="col-sm-3">Name*: </h6>
                    <input class="form-control col-sm-8">
                  </div>
                  <div class="row m-b-20">
                    <h6 class="col-sm-3">Password*: </h6>
                    <input class="form-control col-sm-8">
                  </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn button">Login</button>
                <button type="button" class="btn button" data-dismiss="modal">Close</button>
            </div>
          </div>
          
        </div>
      </div>
      
    </div>