<div class="container-fluid body">
  <div class="row p-b-30">
      <div class="col-md-3">
        <div class="title">Get Trainings Details</div>
      </div>
        <mat-tab-group class="col-md-9">
                <mat-tab label="DOT NET"> Content 1 </mat-tab>
              <mat-tab label="PHP"> Content 2 </mat-tab>
              <mat-tab label="ANGULAR"> Content 3 </mat-tab>
              <mat-tab label="JAVA"> Content 4 </mat-tab>
              <mat-tab label="ANDROID"> Content 5 </mat-tab>
              <mat-tab label="IONIC"> Content 6 </mat-tab>   
        </mat-tab-group>      
    </div>
  
  
    <div class="select_trng row">
        <div class="col-md-3" style="font-size: 20px">Select Training</div>
        <input class="form-control col-md-9" placeholder="Select Training To Get Material">
    </div>
  
    <div class="row p-t-30 p-b-50">
      <div class="col-md-4">
        <div class="nav_content">Training Schedule</div>
          <div class="m-t-30">
              <ul class="nav">
                  <li class="tab_left active"><a href="#short-v" data-toggle="tab">Short Term Training</a></li>
                  <li class="tab_left"><a href="#middle-v" data-toggle="tab">Middle Term Training</a></li>
                  <li class="tab_left"><a href="#long-v" data-toggle="tab">Long Term Training</a></li>
                  <li class="tab_left"><a href="#place-v" data-toggle="tab">Available Placements</a></li>
              </ul>
          </div>
      </div>

      <div class="col-md-8">
          <div class="nav_content">Content management systems (CMS) [Training Title]</div>
              <div class="m-t-30">
                  <div class="tab-content">
                      <div class="tab-pane active" id="short-v">
                        <div class="material_title">Short Term Training [PDF will display and user can download]</div>
                        <p><label style="font-weight:500">Duration: </label> Training duration is 30 days and daily 4 hours.</p>
                      </div>
                      <div class="tab-pane" id="middle-v">
                        <div class="material_title">Middle Term Training [PDF will display and user can download]</div>
                        <p><label style="font-weight:500">Duration: </label> Training duration is 30 days and daily 4 hours.</p>
                      </div>
                      <div class="tab-pane" id="long-v">
                        <div class="material_title">Long Term Training [PDF will display and user can download]</div>
                          <p><label style="font-weight:500">Duration: </label> Training duration is 30 days and daily 4 hours.</p>
                      </div>
                      <div class="tab-pane" id="place-v">
                        <div class="material_title">Available Placements [PDF will display and user can download]</div>
                        <p><label style="font-weight:500">Duration: </label> Training duration is 30 days and daily 4 hours.</p>
                      </div>
                  </div>
              </div>
      </div>
  </div>

</div>