<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 m-t-20">
      <h6>Content Index</h6>
      <div class="index" *ngFor="let item of contents">
        <a>{{item.index}}</a>
      </div>
    </div>

    <div class="col-sm-9 ">
      <div class="m-t-20 data">
        <h6>Content management systems (CMS) [Training Title]</h6>
        <div *ngFor="let item of contents">
        <p>{{item.content}}</p>
        </div>
        <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
      </div>
    </div>
  </div>
</div>